<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cliambrown.easynoise">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyNoise">
        <receiver
            android:name=".EasyNoiseWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cliambrown.easynoise.action.SET_PLAYING" />
                <action android:name="com.cliambrown.easynoise.action.SET_PAUSED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/easy_noise_widget_info" />
        </receiver>

        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cliambrown.easynoise.action.PLAY" />
                <action android:name="com.cliambrown.easynoise.action.PAUSE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cliambrown.easynoise.action.PLAY" />
                <action android:name="com.cliambrown.easynoise.action.PAUSE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>