<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cliambrown.easynoise"
    android:versionCode="8"
    android:versionName="0.8">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyNoise">

        <service
            android:name=".QSTileService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@drawable/notification_icon"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <receiver
            android:name=".OutsidePauseReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.bluetooth.headset.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".EasyNoiseWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cliambrown.easynoise.action.TOGGLE_PLAY" />
                <action android:name="com.cliambrown.easynoise.action.SET_PLAYING" />
                <action android:name="com.cliambrown.easynoise.action.SET_PAUSED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/easy_noise_widget_info" />
        </receiver>

        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cliambrown.easynoise.action.PLAY" />
                <action android:name="com.cliambrown.easynoise.action.PAUSE" />
                <action android:name="com.cliambrown.easynoise.action.TOGGLE_PLAY" />
                <action android:name="com.cliambrown.easynoise.action.DISMISS" />
                <action android:name="com.cliambrown.easynoise.action.VOLUME_UP" />
                <action android:name="com.cliambrown.easynoise.action.VOLUME_DOWN" />
                <action android:name="com.cliambrown.easynoise.action.CALL_STARTED" />
                <action android:name="com.cliambrown.easynoise.action.CALL_ENDED" />
                <action android:name="com.cliambrown.easynoise.action.AUDIO_BECOMING_NOISY" />
                <action android:name="com.cliambrown.easynoise.action.HEADPHONES_CONNECTED" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cliambrown.easynoise.action.PLAY" />
                <action android:name="com.cliambrown.easynoise.action.PAUSE" />
                <action android:name="com.cliambrown.easynoise.action.TOGGLE_PLAY" />
                <action android:name="com.cliambrown.easynoise.action.DISMISS" />
                <action android:name="com.cliambrown.easynoise.action.VOLUME_UP" />
                <action android:name="com.cliambrown.easynoise.action.VOLUME_DOWN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>